#about {
    background-color: black;
    color: white;
    transition-duration: 2000ms;
    padding: 10px;
    border-radius: 10px;
}

#about:hover {
    color: black;
    background-color: white;
    transition-duration: 2000ms;
}

#us {
    height: 300px;
    width: inherit;
}

#abouttitle {
    font-family: "Raleway";
}

#aboutcontent {
    font-family: "Montserrat";
}