#nav {
    background-color: black;
    transition-duration: 2000ms;
    color: white;
}

#nav:hover {
    background-color: white;
    transition-duration: 2000ms;
    color: black;
}

#navitem {
    color: inherit;
    background-color: inherit;
    font-weight: bold;
    font-family: "Raleway";
}

/* #navitem:hover  {
    color: black;
    background-color: white;
    transition-duration: 2000ms;
} */

