#nav {
    background-color: black;
    transition-duration: 2000ms;
}

#nav:hover {
    background-color: white;
    transition-duration: 2000ms;
}

#navitem {
    color: white;
    background-color: black;
    font-weight: bold;
    transition-duration: 2000ms;
    border-radius: 10px;
}

#navitem:hover  {
    color: black;
    background-color: white;
    transition-duration: 2000ms;
}

