#projects {
    background-color: black;
    color: white;
    transition-duration: 2000ms;
    padding: 10px;
    border-radius: 10px;
}

#projects:hover {
    color: black;
    background-color: white;
    transition-duration: 2000ms;
}

#projectstitle {
    font-family: "Raleway";
}

#projectscontent {
    font-family: "Montserrat";
    padding: 20px;
}