#titlebar {
    color: white;
    background-color: black;
    transition-duration: 2000ms;
}

#title {
    font-weight: bolder;
    font-size: 150px;
    font-family: "Raleway";
}

#titlebar:hover {
    color: black;
    background-color: white;
    transition-duration: 2000ms;
}

#tagline {
    font-family: "Montserrat";
    position: relative;
    top: -70px;
    margin-bottom: -10px;
}

a {
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}

#logo {
    height: 500px;
    width: 500px;
    border-radius: 50px;
}